{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Principal</title>
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
</head>
<body>
    <div id="linea">

    </div>
    <div class="botones">
        <form action="/pagina/" method="GET">
            
          
            <button id="b1">Consultar Datos</button>
        </form>
        <form action="/fecha/">
            <button id="b1">Reportes</button>
        </form>

        <form action="/ayuda/">
            <button id="b1">Ayuda</button>
        </form>
       
        
     </div>

    <div class="area" style="height: 1000px;">
        <form action="/file/" method="POST"  enctype="multipart/form-data">
            {% csrf_token %}
        <input type="file" id="file" name="file" style="width: 470px; font-size: 19px;" >
        <button type="submit" id="enviar">Enviar</button><br> <br><br>
    </form>
    
        <form id="form1" action="/pagina/" method="GET">
            {% csrf_token %}
            <br>
            
            <label for="text" id="label1">Entrada</label> <br><br>
        </form> 
        
        <form action="/resetear/" method="GET" style="margin: -120px 660px;">
            {% csrf_token %}
            <button type="submit" id="reset" >Reset</button>
            
        </form>    
        
        <br>
        
      
        {% if content %}  
        <form action="/pagina2/" method="GET" style="margin: 140px 0px;">
            {% csrf_token %}   
            <textarea class="area1" name="area1" id="area1" cols="85" rows="35">{{content}}</textarea>
        </form>
            
        {% else %}
        <form action="/pagina/" method="GET" style="margin: 140px 0px;">
            {% csrf_token %}
            <textarea class="area1" name="area1" id="area1" cols="85" rows="35">{{variable.datos}}</textarea>
        </form>
        {% endif %}
         <form action="/pagina/" method="GET" style="margin: -720px 670px;">
            {% csrf_token %}
            <label for="text" id="label2" >Salida</label> 
                
            <textarea class="area2" name="area2" id="area2" cols="85" rows="45" >{{variable.estadistica}}</textarea>
           
            
        </form>
    </div>
    
</body>
</html>
{% endblock content %}