{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Principal</title>
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
</head>
<body>
    <div id="linea">

    </div>
    <div class="botones">
        <form action="/recibir/" method="POST">
            <input id="cargar" type="file">
        </form>
        
        <button id="b1">Peticiones</button>
        <button id="b1">Ayuda</button>
        
     </div>

    <div class="area" style="height: 1000px;">
        
        <form id="form1" action="/pagina/" method="GET">
            {% csrf_token %}
            <br>
            <button type="submit" id="enviar">Enviar</button><br> <br><br>
            <label for="text" id="label1">Entrada</label> <br><br>
        </form> 
        
        <form action="/resetear/" method="GET" style="margin: -120px 520px;">
            {% csrf_token %}
            <button type="submit" id="reset" >Reset</button>
            
        </form>    
        
        <br>
        
      
        {% if mostrar %}  
        <form action="/pagina2/" method="GET" style="margin: 140px 0px;">
            {% csrf_token %}   
            <textarea class="area1" name="area1" id="area1" cols="65" rows="35">{{variable.archivo}}</textarea>
        </form>
            
        {% else %}
        <form action="/pagina/" method="GET" style="margin: 140px 0px;">
            {% csrf_token %}
            <textarea class="area1" name="area1" id="area1" cols="65" rows="35">{{variable.datos}}</textarea>
        </form>
        {% endif %}
         <form action="/pagina/" method="GET" style="margin: -720px 530px;">
            {% csrf_token %}
            <label for="text" id="label2" >Salida</label> 
                
            <textarea class="area2" name="area2" id="area2" cols="85" rows="45" >{{variable.estadistica}}</textarea>
           
            
        </form>
    </div>
    
</body>
</html>
